* {
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

body {
  background-color: #24292a;
}

.main {
  width: 1000px;
  margin: auto;
  color: white;
}

.top {
  background-color: #863735;
  text-align: center;
  border-radius: 40px;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 20px;
  height: 255px;
  max-height: 255px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.timerParent {
  display: flex;
  font-size: 56px;
  justify-content: center;
  position: relative;
  bottom: 30px;
}

.cyclesLeftP {
  font-size: 16px;
  position: relative;
  bottom: 40px;
  font-weight: 100;
}

.minutes,
.seconds {
  font-size: 56px;
  border: 0;
}

.progressBarParent {
  display: inline-block;
  width: 200px;
  margin-bottom: 10px;
  border: 1px solid white;
  position: relative;
  bottom: 20px;
}

.progressBar {
  width: 200px;
  height: 20px;
  border-radius: 40px;
  background-color: #24292a;
}

.currentTodoNameH1 {
  margin: 0;
  padding: 0;
  font-weight: 100;
  position: relative;
  font-size: 18px;
  bottom: 15px;
}

.topDown {
  font-size: 22px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-bottom: 10px;
}

.startButton,
.stopButton {
  width: auto;
  border: 1px solid #24292a;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 15px;
}

.stopButton,
.startButton {
  visibility: hidden;
}

.startButton:hover,
.stopButton:hover {
  cursor: pointer;
  border: 1px solid white;
}

.todoParent {
  margin-bottom: 80px;
}

h1,
h3 {
  text-align: center;
}

.titleTodo,
.titleDone {
  margin-bottom: 10px;
}

input {
  background-color: transparent;
  border-width: 1px 0 0 0;
  border-style: solid;
  color: white;
  border-color: #756a5f;
  text-align: center;
  width: 100%;
  height: 50px;
}

.addTodoTaskInput {
  border: 1px solid #43494a;
  margin-bottom: 15px;
}

.addTodoTaskInput:hover {
  border: 1px solid white;
}

.task {
  margin-bottom: 0px;
}

li {
  list-style: none;
  height: 50px;
}

img {
  width: 30px;
  position: relative;
  filter: invert(1);
}

img:hover {
  cursor: pointer;
}

.deleteButton {
  position: relative;
  left: 9px;
  bottom: 55px;
  opacity: 0.8;
}

.inputNameTask:hover {
  background-color: rgba(211, 211, 211, 0.1);
}

.startTodoButton {
  position: relative;
  left: 930px;
  width: 40px;
  height: 45px;
  bottom: 50px;
}

.pomodoroSettingsBtnParent {
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pomodoroSettingsBtnParent:hover {
  cursor: pointer;
}

.pomodoroSettingsButton {
  pointer-events: none;
}

.darkBg {
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  height: 6188px;
  opacity: 0.5;
  display: none;
}

.modalSettings,
.modalCongratulation {
  color: white;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background-color: #24292a;
  padding: 20px;
  border-radius: 40px;
  z-index: 2;
  max-width: 700px;
  box-shadow: 5px 30px 70px rgba(0, 0, 0, 0.5);
  display: none;
}

.modalCongratulation {
  opacity: 0.9;
  top: 25%;
  width: 500px;
}

.questionCongratulationParent {
  position: relative;
  left: 28%;
}

.titleModal {
  margin-bottom: 25px;
}

th {
  text-align: left;
}

.workInput,
.shortBreakInput,
.longBreakInput,
.longBreakDelayInput {
  border: 1px solid #43494a;
  border-radius: 10px;
  font-weight: 100;
}

.workInput:hover,
.shortBreakInput:hover,
.longBreakInput:hover,
.longBreakDelayInput:hover {
  border: 1px solid white;
}

.saveSettingsButton,
.closeSettingsButton,
.noButton,
.yesButton {
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.closeSettingsButton,
.noButton {
  border: 1px solid white;
}

.saveSettingsButton,
.yesButton {
  background-color: #863735;
}

.saveSettingsButton:hover,
.closeSettingsButton:hover,
.yesButton:hover,
.noButton:hover {
  cursor: pointer;
}

.closeSettingsButton:hover,
.noButton:hover {
  background-color: grey;
}

.saveSettingsButton:hover,
.yesButton:hover {
  border: 1px solid white;
}

.btnsSettingsParent,
.btnsCongratulationParent {
  display: flex;
  gap: 30px;
}

.workDurationModalP,
.shortBreakDurationModalP,
.longBreakDurationModalP,
.longBreakDelayModalP {
  font-weight: bold;
  position: relative;
  left: 20px;
}

.confetti {
  position: fixed;
  width: 10px;
  height: 10px;
  top: 0;
  left: 42%;
  opacity: 0.7;
  background-color: red;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0) translateX(0);
  }

  100% {
    transform: translateY(100vh) rotate(720deg);
  }
}
